h5 {
 	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 2em;
	margin-left: 3em;
	font-weight: bold;
	font-size: 20px;
 }

 h4{
 	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 2em;
	margin-left: 3em;
	font-weight: bold;
	font-size: 40px;
 }

.naam {
	width: 20%;
	height: 30px;
	font-size: 20px;
	margin-left: 5em;
	font-family: 'Raleway', sans-serif;
}

.vraag {
	width: 50%;
	height: 200px;
	font-size: 15px;
	margin-left: 7em;
	padding-left: 1em;
	font-family: 'Raleway', sans-serif;
}

.send {
	margin-left: 40em;
	background: #008B8B;
	width: 10%;
	height: 30px;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'Raleway', sans-serif;
}

.hidden {
	display: none;
}

body{
	background-image: url(background.jpg);
	background-size: 100%;
}

.header{
	width: 1700px;
	height: 150px;
	margin-left: 100px;
	margin-top: 30px;
}

.change {
	margin-left: 300px;
}

@font-face{
	font-family: 'Standout';
	src: url('Standout.ttf') format('truetype');
}

.sign{
	margin-left: 660px;
	margin-top: -112px;

}




h1{
	font-size: 8em;
	color: black;
	margin-left: 50px;
	margin-top: 10px;
	font-family: 'Standout', sans-serif;

}


.links{
	width: 350px;
	height: 1570px;
	background-color: white;
	margin-left: -350px;
	margin-top: -15px;
	margin-bottom: 2em;


}

.logo{
	margin-left: -1090px;
	margin-top: 50px;

}


ul li{
	
 	margin-top: 20px;

}

ul{
	text-align: left;
	margin-left: 30px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;

	
}

.header a{
	text-decoration: none;
	color: black;
}

.more{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	text-decoration: underline;
}

h2{
	font-size: 3em;
	margin-top: 400px;
	margin-left: 0px;
	color: black;
	font-family: 'Raleway', sans-serif;
	width: 350px;
	text-align: center;

}

h3{
	font-size: 1.2em;
	padding-left: 1.3em;
	margin-top: 50px;
	padding-right: 2em;
	color: black;
	text-align: justify;
	font-family: 'Indie Flower';
	width: 300px;
}

a{
	text-decoration: none;
	color: #00FF00;
}

.kader {
	width: 1500px;
	height:900px;
	margin-left: 450px; 
}

.geraamte {
	opacity: 0.8;
	width: 700px;
	height: 600px;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	float: left;
	margin-left: 70px;
	margin-bottom: 35px;
	font-family: 'Raleway', sans-serif;
}

.danku {
	opacity: 0.8;
	width: 700px;
	height: 400px;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	float: left;
	margin-left: 70px;
	margin-bottom: 35px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding-top: 200px;
}

.hidden{
	display: none;
}