body{
	background-image: url(background.jpg);
	background-size: 100%;
}

.header{
	width: 1700px;
	height: 150px;
	margin-left: 100px;
	margin-top: 30px;
}

.change {
	margin-left: 300px;
}

@font-face{
	font-family: 'Standout';
	src: url('Standout.ttf') format('truetype');
}

.sign{
	margin-left: 660px;
	margin-top: -112px;

}




h1{
	font-size: 8em;
	color: black;
	margin-left: 50px;
	margin-top: 10px;
	font-family: 'Standout', sans-serif;

}


.links{
	width: 350px;
	height: 1570px;
	background-color: white;
	margin-left: -350px;
	margin-top: -1015px;
	margin-bottom: 2em;
}

.logo{
	margin-left: -740px;
	margin-top: 35px;

}

.fotolijst p{
	font-size: 0.8em;
	font-family: 'Raleway', sans-serif;
	line-height: 20px;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: justify;
}

.fotolijst p:nth-child(2){
	text-align: center;

}

ul li{
	
 	margin-top: 20px;

}

ul{
	text-align: left;
	margin-left: 30px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;

	
}

.header a{
	text-decoration: none;
	color: black;
}

.more{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	text-decoration: underline;
}

.facebookpage{
	font-family: 'Penstriped';
	font-size: 0.8em;

}

h2{
	font-size: 3em;
	margin-top: 400px;
	margin-left: 0px;
	color: black;
	font-family: 'Raleway', sans-serif;
	width: 350px;
	text-align: center;

}

h3{
	font-size: 1.2em;
	padding-left: 1.3em;
	margin-top: 50px;
	padding-right: 2em;
	color: black;
	text-align: justify;
	font-family: 'Indie Flower';
	width: 300px;
}

a{
	text-decoration: none;
	color: #00FF00;
}

.kader {
	width: 1500px;
	height:900px;
	margin-left: 450px; 
}



.fotolijst{
	opacity: 0.8;
	width: 350px;
	height: 600px;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	float: left;
	margin-left: 70px;
	margin-bottom: 35px;
}

.zwart1 {
	width: 300px;
	height: 155px;
	background-color: black;
	margin-top: -255px;
	margin-left: 25px;
	opacity: 0.8;
	text-align: center;
	padding-top: 100px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.zwart1 {
	color: red;
}

.joke {
	margin-left: -350px;
	margin-top: 700px;
}
/*.foto, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7{
	width: 300px;
	height: 250px;
	margin-top: 25px;
	margin-left: 15px;
	padding-top: 10px;
	border:10px solid white;
}*/



.hidden{
	display: none;
}

.art1 {
	margin-top: 25px;
	margin-left: 25px;
}

